body {
    width: 20rem;
    height: 50rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    padding: 0.25rem;
}
li:nth-child(odd) {
    background: #80808030;
}
li:nth-child(even) {
    background: #ffffff;
}

h3, p {
    margin: 0;
}

#statistics, #preferences {
    font-size: 20px;
    font-weight: normal;
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
#statistics.visible, #preferences.visible {
    opacity: 1;
    pointer-events: all;
}

#statistics-button, #preferences-button {
    opacity: 1;
}
